@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Partial("HeadPartial", "Default")

<body>

    @Html.Action("SpinnerPartial", "Default")

    @Html.Action("TopbarPartial", "Default")

    @Html.Action("NavbarPartial", "Default")

    @Html.Action("SearchModalPartial", "Default")

    @Html.Action("CarouselPartial", "Default")

    @Html.Action("FeaturePartial", "Default")

    @Html.Action("AboutPartial", "Default")

    @Html.Action("ServicePartial", "Default")

    @Html.Action("FaqPartial", "Default")

    @Html.Action("BlogPartial", "Default")

    @Html.Action("TeamPartial", "Default")

    @Html.Action("TestimonialPartial", "Default")

    @Html.Action("FooterPartial", "Default")

    @Html.Action("CopyrightPartial", "Default")

    @Html.Action("BackToTopPartial", "Default")

    @Html.Action("ScriptPartial", "Default")

</body>

</html>